# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore package installation artifacts
*.egg-info/
*.eggs/
dist/
build/

# Ignore virtual environments
venv/
.env/

# Ignore logs and temporary files
*.log
*.tmp
.DS_Store

# ssh
eval "$(ssh-agent -s)"
eval "$(ssh-agent -s)".pub